<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">My Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" exact="true">
        <a class="nav-link" routerLinkActive="active" routerLink="" [routerLinkActiveOptions]="{exact:
          true}">Product</a>
      </li>
      <li class="nav-item" exact="true">
        <a class="nav-link" routerLinkActive="active" routerLink="checkout" [routerLinkActiveOptions]="{exact:
          true}">Checkout</a>
      </li>
      <li class="nav-item" exact="true">
        <a class="nav-link" routerLinkActive="active" routerLink="add-product" [routerLinkActiveOptions]="{exact:
            true}">Sell a  Product</a>
      </li>
    </ul>
    <button type="button" class="btn btn-primary" (click)="openModal(template)">Open modal</button>
  </div>
</nav>

<ng-template #template>
    <div class="modal-body text-center">
      <p>Do you want to confirm?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
    </div>
  </ng-template>