<!-- <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="..." class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">{{product ? product.title : ''}}</h5>
          <p class="card-text">{{product ? product.description : ''}}</p>
        </div>
      </div> -->

<div class="card mb-3" *ngIf = "product">
    <img src= '{{product.imageUrl}}' class="card-img-top">
    <div class="card-body">
        <h4 class="card-title">{{product.title}}</h4>
        <h5>${{product.price}}</h5>
        <p class="card-text">{{product.description}}</p>
        <a (click)= 'addToCart()' class="btn btn-success" *ngIf = "product.isAvailable; else soldOut">Add to Cart</a>
        <ng-template #soldOut>
            <a href="#" class="btn btn-danger">Sold Out</a>
        </ng-template>
    </div>
</div>  