<div class="row mt-3">
    <div class="col-4 mt-3 d-flex">
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1565281756735-f5d99a69c1bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Business Casual</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-4 mt-3 d-flex">
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1567719337802-d7634b41711f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rock the party</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-4 mt-3 d-flex">
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1561052876-b9dc9f9b1556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Bohemian Style</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-4 mt-3 d-flex">
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1561052630-15412ad90917?ixlib=rb-1.2.1&auto=format&fit=crop&w=340&q=80"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-4 mt-3 d-flex">
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1565281756735-f5d99a69c1bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Business Casual</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-4 mt-3 d-flex">
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1568185346876-4b3d3639bbf1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Business Casual</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-4 mt-3 d-flex">
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1568000177948-a557664a465e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1532&q=80"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Business Casual</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
        </div>
    </div>
</div>