
    <div class="card custom-card">
        <img class="card-img-top"
            src="https://images.unsplash.com/photo-1565281756735-f5d99a69c1bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Business Casual</h5>
            <p class="card-text">White Shirt, Beige Pants and White Sneakers</p>
            <a href="#" class="btn btn-dark">Add to Cart</a>
        </div>
    </div>